body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #f6f6f7;
  display: flex;
  align-items: right;
  justify-content: right;
}
header .cart {
  color: #888888;
  padding: 10px 0;
  text-align: right;
  text-decoration: none;
  font-size: small;
  margin-right: 30px;
}
.content {
  display: flex;
  margin: 10px 50px;
  padding: 10px;
}
.content-tee {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.content-tee img {
  height: 80%;
}
.content-description h2 {
  color: #222222;
}
.content-description .price {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
  font-weight: 500;
}
.content-description .details {
  color: #888888;
  font-size: 14px;
  line-height: 24px;
}

.content-description .flex-container {
  display: flex;
}
.content-description .flex-container > div {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-right: 5px;
  width:25px;
  height: auto;
  text-align: center;
  color: #888888;
  cursor: pointer;
}
.content-description button {
  text-transform: uppercase;
  border: 2px solid #222222 ;
  color: #222222;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  background-color: transparent;
}
.size span{
 color: #888888;
}
.content-description button:hover  {
  background-color: #222222;
  cursor: pointer;
  color: #fff;
}
.flex-container-size{
  display: inline;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
